## Créer une table
Dans ce projet, vous allez créer votre propre tableau d'amis et y ajouter/supprimer des données !

Les instructions fournies sont des lignes directrices générales. N'hésitez pas à ajouter d'autres colonnes, à insérer d'autres données et à créer d'autres tableaux.

### A vous de jouer ! 

1. Créez une table nommée friends avec trois colonnes :

    - `id` qui stocke `INTEGER`
    - `nom` qui stocke `TEXT`
    - `date_naissance` qui stocke `DATE`


2. Sous votre code actuel, ajoutez Ororo Munroe à vos amis.

    Son anniversaire est le 30 mai 1940.


3. Assurons-nous que Ororo a bien été ajoutée à la base de données :
```sql
SELECT * 
FROM amis;
```
Vérifiez deux choses :

    - La table des amis est-elle créée ?
    - Est-ce que Ororo Munroe y a été ajouté ?
    
    
4. Passez à l'action !

    - Ajoutez deux de vos amis à la table.

    - Insérez un identifiant, un nom et une date de naissance pour chacun d'eux.


5. Ororo Munroe vient de réaliser qu'elle peut contrôler la météo et a décidé de changer de nom. Son nouveau nom est "Tempête".

    - Mettez à jour son enregistrement dans les amis.


6. Ajoutez une nouvelle colonne nommée "email".


7. Mettez à jour l'adresse électronique de tous les membres de votre table.

    - L'adresse électronique de Storm est `storm@gmail.com`.


8. Attendez, Storm est une fiction...

    - Retirez-la de vos amis.
    

9. Bon travail ! Regardons le résultat une dernière fois :

```sql
SELECT * 
FROM amis;
```

In [ ]:
CREATE TABLE amis (
   id INTEGER,
   nom TEXT,
   date_naissance DATE
);

INSERT INTO amis (id, nom, date_naissance) 
VALUES (1, 'Ororo Munroe', '1940-05-30');

SELECT * 
FROM amis;


INSERT INTO amis (id, nom, date_naissance) 
VALUES (2, 'BFF One', 'YYYY-MM-DD');
 
INSERT INTO amis (id, nom, date_naissance) 
VALUES (3, 'BFF Two', 'YYYY-MM-DD');


UPDATE amis
SET nom = 'Storm'
WHERE id = 1;

ALTER TABLE amis 
ADD COLUMN email TEXT;


UPDATE amis
SET email = 'storm@gmail.com'
WHERE id = 1;


DELETE FROM amis
WHERE id = 1;


SELECT * 
FROM amis;